.auth-wrapper {
  background-color: #121212;
}

.auth-card {
  background-color: #181818;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #282828;
}

.form-control {
  border-radius: 8px;
}

.form-control:focus {
  background-color: #282828;
  color: white;
  border-color: #1DB954;
  box-shadow: none;
}

.btn-success {
  background-color: #1DB954;
  border: none;
}

.btn-success:hover {
  background-color: #1ed760;
  transform: translateY(-2px);
  transition: 0.3s;
}

.form-control.ng-touched.ng-invalid, 
.form-control.is-invalid {
  border-color: #ff4d4d !important;
}